<h1>Your question: <%=@question.text%></h1>

<p><%= link_to "Edit", edit_survey_question_path(@survey, @question) %></p>
<p><%= link_to "Delete", survey_question_path(@survey, @question),
  :data => {:confirm => "You sure?",
  :method => "delete"} %></p>

  <p><%= link_to "Return to surveys", surveys_path %></p>
